image: node:14

stages:
  - Prepare
  - Lint
  - Test
  - Merge coverage
  - Build
  - Security
  - Deploy

cache: &global_cache
  key:
    files:
      - package-lock.json
  paths:
    - node_modules
  policy: pull

prepare:
  stage: Prepare
  cache:
    # inherit global_cache properties, override policy
    <<: *global_cache
    policy: pull-push
  before_script:
    - node --version
    - npm --version
  script:
    - npm install
  dependencies: []

lint:
  except:
    - schedules
  stage: Lint
  before_script:
    - npm install
  script:
    - npm run lint:ci
    - npm run format:ci
  dependencies: []

test_unit:
  except:
    - schedules
  stage: Test
  script:
    - COV_OUTPUT=false npm run test:unit:cov
  artifacts:
    paths:
      - cov-unit/
    expire_in: 1 day
  dependencies: []

test_e2e:
  except:
    - schedules
  variables:
    POSTGRES_DB: "$PG_DATABASE"
    POSTGRES_USER: "$PG_USER"
    POSTGRES_PASSWORD: "$PG_PASSWORD"
  services:
    - name: postgres:13.1-alpine
  stage: Test
  before_script:
    - npm run migrate
  script:
    - COV_OUTPUT=false npm run test:e2e:cov
  artifacts:
    paths:
      - cov-e2e/
    expire_in: 1 day
  dependencies: []

merge_coverage:
  except:
    - schedules
  stage: Merge coverage
  script:
    - npm run merge-coverage
  artifacts:
    reports:
      cobertura: cov/cobertura-coverage.xml
  dependencies:
    - test_unit
    - test_e2e

build:
  except:
    - schedules
  stage: Build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
  dependencies: []

audit:
  except:
    - schedules
  stage: Security
  script:
    - npm audit
  dependencies: []

lockfile_lint:
  except:
    - schedules
  stage: Security
  script:
    - npm run lockfile-lint
  dependencies: []

snyk_test:
  only:
    refs:
      - schedules
    variables:
      - $IS_WEEKLY_RUN != "true"
  stage: Security
  before_script:
    - npm run snyk:auth "$SNYK_TOKEN"
  script:
    - npm run snyk:test

snyk_monitor:
  only:
    refs:
      - schedules
    variables:
      - $IS_WEEKLY_RUN == "true"
  stage: Security
  before_script:
    - npm run snyk:auth "$SNYK_TOKEN"
  script:
    - npm run snyk:monitor

deploy:
  only:
    - tags
  stage: Deploy
  before_script:
    - 'which ssh-agent || (apt-get update -y && apt-get install openssh-client -y)'
    - eval $(ssh-agent -s)
    - ssh-add <(cat "$SERVER_SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan "$SERVER_URL" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - scp -r dist package.json package-lock.json "$SERVER_USER"@"$SERVER_URL":/home/$SERVER_USER/air-monitoring-backend
    - ssh "$SERVER_USER"@"$SERVER_URL" "/home/$SERVER_USER/air-monitoring-backend/redeploy.sh"
  dependencies:
    - build
